body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
h1,
h3,
h4,
ul {
	margin: 0;
}
ul li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
#container {
	margin: 0 auto;
	width: 100%;
}
#header {
	margin: 0 auto;
	width: 1280px;
	height: 535px;
	background-image: url(../image/header_bg.jpg);
}
#head {
	margin: 0 auto;
	width: 100%;
	height: 111px;
}
#logo {
	width: 120px;
	height: 80px;
	line-height: 80px;
	margin-top: 31px;
	margin-left: 89px;
	float: left;
	color: #ffffff;
}
#nav {
	float: right;
	margin-right: 112px;
}
.nav-list {
	float: right;
	margin-top: 24px;
	margin-right: 36px;
	height: 97px;
	line-height: 97px;
	color: white;
}
.nav-list:hover {
	color: #3fb8a2;
}
#header-title {
	height: 131px;
	margin-top: 120px;
}
.header-title {
	text-align: center;
	color: #ffffff;
}
.btn {
	margin: 0 auto;
	padding: 15px 15px;
	margin-top: 144px;
	width: 87px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #fff;
	color: #fff;
	background-color: #1dd2af;
}
.btn:hover {
	border:6px solid #78d8c5;
	cursor: pointer;
}
#content {
	width: 100%;
	height: 892px;
	overflow: hidden;
}
#con_title {
	margin-top: 140px;
	text-align: center;
	color: #1dd2af;
}
#par-one {
	margin: 0 auto;
	width: 871px;
	height: 142px;
	margin-top: 57px;
	color: #95a5a6;
}
#par-one > span {
	display: block;
	text-align: center;
}
#logos {	
	margin: 0 auto;
	width: 835px;
	height: 78px;
}
.icon {
	font-size: 68px;
	line-height: 68px;
	margin-right: 310px;
	color: #1abc9c;
}
#sugar {
	margin: 0;
	width: 68px;
	height: 68px;
	float: right;
}
#par {
	margin: 0 auto;
	margin-left: 128px;
	height: 257px;
}
.par-two {
	width: 269px;
	margin-right: 110px;
	float: left;
}
.par-title {
	width: 269px;
	height: 51px;
	line-height: 51px;
	margin-bottom: 23px;
	text-align: center;
	color: #1abc9c;
}
.par-two > p {
	margin: 0;
	color: #9cabac;
}
.par-two > span {
	display: block;
	margin: 0 auto;
}
.boundary {
	margin: 0 auto;
	width: 1058px;
	height: 31px;
	margin-top: 58px;
	color: #e6eaea;
}
#map {
	height: 321px;
	margin: 66px 128px 59px 128px;
}
.left {
	float: left;
}
.right {
	float: right;
}
#img {
	height: 321px;
	margin-left: 128px;
	margin-right: 128px;
}
#box {
	width: 428px;
	height: 320px;
	float: right;
	background-image: url(../image/image-2.jpg);
}
#view {
	margin: 0 auto;
	width: 233px;
	height: 61px;
	margin-top: 80px;
	text-align: center;
	line-height: 61px;
	color: #ffffff;
	background-color: #1abc9c;
}
#line {
	height: 158px;
	line-height: 158px;
	text-align: center;
	color: #e6eaea;
}
.touch {
	margin: 0 auto;
	width: 340px;
	height: 61px;
	margin-bottom: 75px;
	text-align: center;	
}
.touch > h1 {
	color: #1abc9c;
}
#enter {
	margin: 0 auto;
	width: 820px;
	height: 107px;
}
.left-input {
	width: 394px;
	height: 78px;
	float: left;
 	border: none;
	background-color: #e4e8e8;
}
.right-input {
	width: 394px;
	height: 78px;
	float: right;
	border: none;
	background-color: #e4e8e8;
}
.main-input {
	width: 820px;
	height: 266px;
	border: none;
	background-color: #e4e8e8;
}
#input {
	margin: 0 auto;
	width: 820px;
	height: 266px;
	margin-top: 30px;
}
.footer {
	margin-top: 130px;
	width: 100%;
	height: 257px;
	background-color: #1abc9c;
}
#footer-logo {
	margin: 0 auto;
	margin-top: 130px;
	width: 828px;
	height: 110px;
}
#raphael,
#imprint {
	margin-top: 65px;
	margin-bottom: 71px;
	color: #ffffff;
}
#raphael {
	width: 250px;
	height: 46px;
	margin-left: 103px;
	float: left;
}
#imprint {
	width: 148px;
	height: 45px;
	margin-right: 87px;
	float: right;
}
.foot-icon {
	line-height: 68px;
	color: #1abc9c;
}
.footer-logo {
	margin: 0;
	width: 96px;
	height: 96px;	
	margin-right: 255px;
	/*margin-bottom: 74px;*/
	background-color: #f6f6f6;
	text-align: center;
	float:left;
}
#facebook {
	margin-right: 0;
	float: right;
}